body {
  margin: 10px;
  padding: 0px;
}

.pi-grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.pi-grid-item>a>img {
  width: 100%;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .worksOnePopup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    scroll-behavior: smooth;
  }
  .worksPopUpItemsContainer {
    display: grid;
    grid-template-columns: auto 3%;
    width: 75%;
    height: 75vh;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(35, 173, 255, 1);
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .worksPopUpItems {
    width: 103%;
    border-radius: 20px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    /* To hide scrollbar in firefox */
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
  }
  .worksPopUpItems::-webkit-scrollbar {
    width: 0 !important;
    /* To hide scrollbar in Chrome, Safari, Opera*/
  }
}

@media screen and (max-width: 799.99px) {
  .pi-grid-3 {
    grid-template-columns: 1fr;
  }
  .worksPopUpItemsContainer {
    display: none;
  }
}

.popupItem {
  display: grid;
  height: 75vh;
  scroll-snap-align: start;
}

.popupGrid1 {
  grid-template-columns: 1fr 2fr;
}

.popupGrid2 {
  grid-template-columns: 2fr 1fr;
}

.popupGrid3 {
  grid-template-columns: repeat(3, 1fr);
}

.indicators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.indicator {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  -webkit-appearance: none;
}

.indicator:checked {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-appearance: none;
}

.data {
  margin: 0 10px;
}

.Bg-red {
  background-color: red !important;
}