.dot {
  width: 24px !important;
  border-radius: 0 !important;
  height: 2px !important;
  box-shadow: none !important;
  opacity: 0.5 !important;
}
.dot.selected {
  opacity: 1 !important;
}

.control-dots {
  background-color: black;
  opacity: 0.5;
  padding-bottom: 10px;
}
.pislide-bgimg {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  min-height: 720px;
  background-repeat: no-repeat;
}

.bg-img1 {
  background-image: url(../../../public/images/pihome-img01.jpg);
}
.bg-img2 {
  background-image: url(../../../public/images/pihome-img02.jpg);
}
.bg-img3 {
  background-image: url(../../../public/images/pihome-img03.jpg);
}
.bg-img4 {
  background-image: url(../../../public/images/pihome-img04.jpg);
}
.bg-img5 {
  background-image: url(../../../public/images/pihome-img05.jpg);
}
.bg-img6 {
  background-image: url(../../../public/images/pihome-img06.jpg);
}
/* /Extra small */
@media (max-width: 576px) {
  .pislide-bgimg {
    min-height: 300px;
  }
}
/* small */
@media (min-width: 577px) and (max-width: 767px) {
  .pislide-bgimg {
    min-height: 350px;
  }
}
/* medium */
@media (min-width: 768px) and (max-width: 991px) {
  .pislide-bgimg {
    min-height: 400px;
  }
}
/* large */
@media (min-width: 991px) and (max-width: 1199px) {
  .pislide-bgimg {
    min-height: 550px;
  }
}
/*extra large*/
@media (min-width: 1200px) and (max-width: 1600px) {
  .pislide-bgimg {
    min-height: 700px;
  }
}
/* one more query for extra large */
@media (min-width: 1601px) {
  .pislide-bgimg {
    min-height: 850px;
  }
}
