@charset "UTF-8";
/* CSS Document */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
}

a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  background-color: transparent;
  outline: none;
}

a:hover {
  color: rgba(242, 175, 44, 1);
  text-decoration: none;
}

.piMT10 {
  margin-top: 10px;
}

.piM20 {
  margin: 20px;
}

.piMT20 {
  margin-top: 20px;
}

.piMT70 {
  margin-top: 70px;
}

/* .pihome-slides {} */

.pihome-slides {
  width: 100%;
  height: auto;
}
.piheader-img > img {
  height: auto;
  min-width: 634px;
  min-height: 180px;
  width: 100%;
}
.piselected {
  color: rgba(242, 175, 44, 1);
}

.picontent-grid {
  display: grid;
  grid-template-columns: 10% auto 10%;
  color: #333;
  font-size: 16px;
  row-gap: 5px;
  font-family: "Roboto", sans-serif;
}

/*new common styles*/
.piM20 {
  margin: 20px;
}
/*Banner Styles*/
.pi-banner {
  background-image: url(../public/images/about-pi.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 70px;
  display: flex;
}
.piheader-txt {
  margin: auto;
  color: rgba(255, 0, 0, 0.72);
  font-size: 18px;
  padding: 0px 10px;
}

@media (max-width: 575px) {
  .pi-banner {
    min-height: 180px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .pi-banner {
    min-height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pi-banner {
    min-height: 270px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pi-banner {
    min-height: 330px;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .pi-banner {
    min-height: 450px;
  }
}
@media (min-width: 1601px) {
  .pi-banner {
    min-height: 518px;
  }
}
