.piWorksGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.piWorksGridItem {
    width: 100%;
    cursor: pointer;
}

.worksPopUpItemsContainer {
    width: 75vw;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 20px;
}

.worksPopUpItemsContainer::-webkit-scrollbar {
    width: 0px !important;
}

.popupItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.popupModalOne {
    grid-template-areas: 'content photo photo';
}

.popupModalTwo {
    grid-template-areas: 'photo photo content';
}

.popupModalThree {
    grid-template-areas: 'photo content photo-reverse';
}

.content {
    grid-area: content;
    margin: 10px 20px 10px 10px;
}

.photo {
    grid-area: photo;
    position: relative;
    width: inherit;
    height: 75vh;
    overflow: hidden;
}

.photo-reverse {
    grid-area: photo-reverse;
}

.photo-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.indicators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    z-index: 4;
}

.indicator {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    background-color: burlywood;
    border-radius: 50%;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.indicator:checked {
    background-color: black !important;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 1);
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    border-radius: 20px;
}

.close-popup {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup:target+.close-popup {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width:799.99px) {
    .piWorksGrid {
        grid-template-columns: 1fr;
    }
}